annotated-types==0.7.0
anyio==4.6.2.post1
beautifulsoup4==4.12.3
blobfile==3.0.0
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.0
certifi==2024.8.30
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
coverage==7.8.0
crashtest==0.4.1
customtkinter==5.2.2
Cython==3.0.12
darkdetect==0.8.0
distlib==0.3.9
distro==1.9.0
dulwich==0.21.7
fastapi==0.115.12
fastjsonschema==2.20.0
filelock==3.16.1
fire==0.7.0
fsspec==2024.10.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.10
inflate64==1.0.1
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
Jinja2==3.1.4
keyring==24.3.1
llama_models==0.0.58
llama_stack==0.0.58
llama_stack_client==0.0.58
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.5.0
msgpack==1.1.0
multivolumefile==0.2.3
Nuitka==2.6.8
numpy==2.1.3
ordered-set==4.1.0
packaging==24.1
pandas==2.2.3
pexpect==4.9.0
pillow==11.0.0
pkginfo==1.11.2
platformdirs==4.3.6
pluggy==1.5.0
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
prompt_toolkit==3.0.48
psutil==7.0.0
ptyprocess==0.7.0
py7zr==0.22.0
pyaml==24.9.0
pybcj==1.0.3
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pytest==8.3.3
pytest-cov==6.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzstd==0.16.2
RapidFuzz==3.10.0
rarfile==4.2
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
setuptools==75.3.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.46.1
tabulate==0.9.0
termcolor==2.5.0
texttable==1.7.0
tiktoken==0.8.0
tomlkit==0.13.2
tqdm==4.66.6
trove-classifiers==2024.10.21.16
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uv==0.6.10
uvicorn==0.34.0
virtualenv==20.27.0
wcwidth==0.2.13
zstandard==0.23.0